.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__photoContainer {
  width: 100%;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr); 
}

.portfolio__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.29;
  font-family: 'Inter';
  width: 400px;
  white-space: normal;
  text-align: center;
}