.header {
  width: 1140px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

/* @media screen and (max-width: 1279px) {
  .header {
    max-width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 292px;
  }
}

*/

.header__logo{
  cursor: pointer;
  transition: opacity 0.4s linear;
  height: 70px;
}

.header__logo:hover{
  opacity: 0.5;
}


/* 
@media screen and (max-width: 1279px) {
  .header {
    max-width: 704px;
  }
}
  
@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    min-height: 56px;
  }
}

*/