.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  /* font-family: 'mont_extralightdemo', 'Inter', sans-serif; */
  font-family: sans-serif; 
  font-family: 'Inter'; 
  font-family: 'mont_extralightdemo';
  font-weight: 1000;
  font-family: 'mont_heavydemo';
  font-family: 'BebasNeue-Regular';
  font-family: 'BebasNeue-Book';
  font-weight: 600;
  letter-spacing: 1.2px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
}

.page_type_white {
  background-color: white;
}